.mat-dialog-content {
    max-height: none;
}

.divH2{ 
    margin-left: 15px;
}


.closeIcon {
    color:#004283;
    font-size: 30px; 
    margin-right: 7px;
}


::ng-deep .tableResume .ngx-datatable.material .datatable-body{
    overflow-y: overlay;
    overflow-x: auto;
    width: auto !important;
    //border-radius: 5px;
    max-height: 550px !important;
    height: 550px !important;
}

::ng-deep .tableResume .ngx-datatable.material .datatable-body .datatable-group-header{
    width: 100% !important;
    font-size: bold;
    color: black;
    background-color: #D0CECE;
    height: 50px;
 }
 ::ng-deep .tableResume .ngx-datatable .datatable-body .datatable-row-wrapper{
    width: 100% !important;
 }

 ::ng-deep .tableResume .ngx-datatable .datatable-body .datatable-body-row{
    //width: 700px !important;
    //min-width: 100% !important;
    display: inherit !important;
 }

 .resume-export-button {
    border-width: 1px;
    justify-content: center;
    padding: calc(.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    background-color: #6fabe6;
    border-color: transparent;
    color: #fff;

    font-size: 1rem;
}

.resume-export-button:hover {
    background-color: #45a1de;
}


.card-group {
	display: flex;
	flex-direction: column
}

.card-group>.card {
	margin-bottom: 15px
}

.border-title {
    border-bottom-style: inset;
    border-bottom-color: #004283;
}

@media (min-width:576px) {
	.card-group {
		flex-flow: row wrap
	}
	.card-group>.card {
		flex: 1 0 0%;
		margin-bottom: 0
	}
	.card-group>.card+.card {
		margin-left: 0;
		border-left: 0
	}
	.card-group>.card:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}
	.card-group>.card:not(:last-child) .card-header,
	.card-group>.card:not(:last-child) .card-img-top {
		border-top-right-radius: 0
	}
	.card-group>.card:not(:last-child) .card-footer,
	.card-group>.card:not(:last-child) .card-img-bottom {
		border-bottom-right-radius: 0
	}
	.card-group>.card:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}
	.card-group>.card:not(:first-child) .card-header,
	.card-group>.card:not(:first-child) .card-img-top {
		border-top-left-radius: 0
	}
	.card-group>.card:not(:first-child) .card-footer,
	.card-group>.card:not(:first-child) .card-img-bottom {
		border-bottom-left-radius: 0
	}
	.card-columns {
		column-count: 3;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1
	}
	.card-columns .card {
		display: inline-block;
		width: 100%
	}
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #f9fbfd;
    //background-color: #dee2e6;
	background-clip: border-box;
	border: 0 solid #e9ecef;
	border-radius: .25rem
}

.card-shadows {
    box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15); 
    -webkit-box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
}

.card-body-group {
	padding: 1.25rem;
}