<div>
  <div class="container">
    <div class="row">
      <div class="col-11">
        <div class="divH2">
          <h2>Estimación Final</h2>
        </div>
      </div>
      <div class="col-1">
        <button mat-icon-button matTooltip="Cerrar" (click)="closeDialog()">
          <mat-icon class="closeIcon">clear</mat-icon>
        </button>
      </div>
    </div>
    <div class="row border-title"></div>
  </div>
  <div mat-dialog-content>
    <div class="container-fluid" style="margin: 0">
      <div class="row">
        <div class="card-group card-shadows" style="padding: 0px !important">
          <div class="card border-right">
            <div class="card-body-group">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                  <h2 class="
                      bold
                      text-dark
                      mb-1
                      w-100
                      text-truncate
                      font-weight-medium
                    "> {{ summed_values["proyecto"] }} </h2>
                  <h6 class="
                      text-muted
                      font-weight-normal
                      mb-0
                      w-100
                      text-truncate
                    "> Total Horas Proyecto </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-right">
            <div class="card-body-group">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                  <h2 class="
                      bold
                      text-dark
                      mb-1
                      w-100
                      text-truncate
                      font-weight-medium
                    "> {{ summed_values["proyecto_data"] }} </h2>
                  <h6 class="
                      text-muted
                      font-weight-normal
                      mb-0
                      w-100
                      text-truncate
                    "> Total Horas Proyecto Data </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body-group">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                  <h2 class="
                      bold
                      text-dark
                      mb-1
                      w-100
                      text-truncate
                      font-weight-medium
                    "> {{ summed_values["otros"] }} </h2>
                  <h6 class="
                      text-muted
                      font-weight-normal
                      mb-0
                      w-100
                      text-truncate
                    "> Total Horas Otras Areas </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tableResume">
          <ngx-datatable #resumeTable class="material" [headerHeight]="60" [columnMode]="'force'" [footerHeight]="0"
            rowHeight="50" [rows]="total_values" [scrollbarH]="true" [rowClass]="getRowClass" style="box-shadow: none"
            [groupRowsBy]="'processGroup'" [groupExpansionDefault]="false">
            <!-- Group Header Template -->
            <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader (toggle)="onDetailToggle($event)">
              <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                  <div style="width: 100%;">
                    <button mat-button style="width: 100%; height: 50px; text-align: start;"
                      (click)="toggleGroup(group)">

                      <mat-icon *ngIf="!expanded" style="margin-left: 3px; vertical-align: text-top;">fast_forward</mat-icon>
                      <mat-icon *ngIf="expanded" style="margin-left: 3px; vertical-align: text-top;">fast_rewind</mat-icon>
                      
                      <span style="width: 100%; font-weight: bold; vertical-align: sub;"> TOTAL {{ group.value[0].processGroup }}: {{ group.value[0].processGroup ==
                        "INGESTA" ? ingesta : process }}</span>
                    </button>
                </div>
              </ng-template>
            </ngx-datatable-group-header>

            <ngx-datatable-column name="Proceso" prop="proceso" [width]="325" [minWidth]="325" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span class="title-fields">{{ value }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="# Tablas" prop="cantidad" [width]="120" [minWidth]="100" [sortable]="false"
              [headerClass]="getCellClass" [cellClass]="getCellClass">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span class="title-fields text-aligned-center">{{ value }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Total Horas" prop="junior" [width]="130" [minWidth]="100" [sortable]="false"
              [headerClass]="getCellClass" [cellClass]="getCellClass">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <mat-icon *ngIf="row.check" style="color: green; margin-right: 0.3rem; font-size: 20px; vertical-align: sub;">check_circle_outline</mat-icon>
                <span class="title-fields">{{ value }}</span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <div class="row" style="margin-top: 2%">
        <div class="col"></div>
        <div class="col-3" style="justify-content: center">
          <button mat-raised-button class="resume-export-button" (click)="exportResume()"> Exportar Resumen </button>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>