::ng-deep .tableTemplate .ngx-datatable.scroll-horz .datatable-body {
  overflow: overlay;
  width: auto !important;
  border-radius: 5px;
  //max-height: 520px !important;
  //height: 520px !important;
}

.mat-card-header-text {
    margin: 0 !important;
}

.table-details {
    padding: 0;
    box-shadow: none;
    //border-bottom-left-radius: 4px;
    //border-bottom-right-radius: 4px;
    //border-top-left-radius: 4px;
    //border-top-right-radius: 4px;
}

.titleRow {
  color: white;
  background-color: #004283;
  font-size: 20px;
  font-family: Ubuntu, Arial, Helvetica, Verdana, sans-serif;
  display: inherit !important;
}

.headerBanner {
  //height: 100px;
  line-height: 75px;
  text-align: left;
  background-color: #072146;
}

.headerText {
  color: white;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-left: 25px;
}

.inner-head {
  h2 {
    padding-top: 25px;
    margin-left: 20px;
    display: inline-block;
  }
  color: white;
  margin: 0 6.5rem;
  margin-right: 15px !important;
  font-weight: bold;
  font-family: "bentonsans-bold-regular", sans-serif;
}

.fullInput {
  width: 100% !important;
}

.margin-inputs {
  margin-top: -3px;
}

.divH2 {
  margin-left: 3%;
  margin-top: 20px;
  color: #004283;
}

.action-icon {
  color: #004283;
  bottom: 9px;
}

.big-font {
  font-size: 20px;
}

.subMargen {
  width: 100%;
  border-bottom-color: #6d6e6e;
  border-bottom-style: inset;
  border-bottom-width: thin;
}

.resume-button {
  border-width: 1px;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  background-color: #6fabe6;
  border-color: transparent;
  color: #fff;

  font-size: 1.25rem;
}

.resume-button:hover {
  background-color: #45a1de;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  height: 100px;
  display: table-row;
  margin-top: auto;
  width: 100%;
  border-top: 1px solid #f5f5f5;
  background-color: white;
  //background-color: #f8f9fa !important;
  .inside {
    height: 50px;
    padding-top: 8px;
  }
}

.inputFieldForHelpPop {
  width: 85%;
  display: inline-block;
}

.small-mat-card {
  max-width: 400px;
}

.helpPopdiv {
  width: 15%;
  height: 15px;
  display: inline-block;
  padding-left: 5px;
}

.mat-icon-button .small {
  line-height: 40px;
  width: 30px;
  height: 30px;
  .mat-icon {
    //width: 15px;
    //height: 15px;
    font-size: 21px;
    line-height: 13px;
    //color: white;
  }
}

.tarjeta {
  min-width: 400px;
  max-width: 600px;
}

.circular {
  border-radius: 50%;
}

.contenedor {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-shadows {
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
    0 3px 14px 2px #0000001f;
}

.header__image {
  height: 60px;
  width: auto;
  will-change: height;
  margin: 0 auto;
  padding-top: 1rem;
  -webkit-transition: height 0.33333s;
  transition: height 0.33333s;
  max-width: none;
  display: inline-block;
}

.subtitle-border {
    text-align: center;
    border-bottom-style: outset;
    border-bottom-width: thin;
    //padding-top: 4rem;
}

.const-icons{
  color: #004283;
  font-size: 20px;
  margin-right: 5px;
}

.legend-icons{
  color: #004283;
  font-size: 40px;
  margin-right: 5px;
}



.card-group {
	display: flex;
	flex-direction: column
}

.card-group>.card {
	margin-bottom: 15px
}

.border-title {
    border-bottom-style: inset;
    border-bottom-color: #004283;
}

@media (min-width:576px) {
	.card-group {
		flex-flow: row wrap
	}
	.card-group>.card {
		flex: 1 0 0%;
		margin-bottom: 0
	}
	.card-group>.card+.card {
		margin-left: 0;
		border-left: 0
	}
	.card-group>.card:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}
	.card-group>.card:not(:last-child) .card-header,
	.card-group>.card:not(:last-child) .card-img-top {
		border-top-right-radius: 0
	}
	.card-group>.card:not(:last-child) .card-footer,
	.card-group>.card:not(:last-child) .card-img-bottom {
		border-bottom-right-radius: 0
	}
	.card-group>.card:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}
	.card-group>.card:not(:first-child) .card-header,
	.card-group>.card:not(:first-child) .card-img-top {
		border-top-left-radius: 0
	}
	.card-group>.card:not(:first-child) .card-footer,
	.card-group>.card:not(:first-child) .card-img-bottom {
		border-bottom-left-radius: 0
	}
	.card-columns {
		column-count: 3;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1
	}
	.card-columns .card {
		display: inline-block;
		width: 100%
	}
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #eaf9fa;
	background-clip: border-box;
	border: 0 solid #e9ecef;
	//border-radius: .25rem
}


.card-shadows {
    box-shadow: none; 
    -webkit-box-shadow: none;
}

.card-body-group {
	padding: 1.25rem;
}