<body style="background-color: #f2f2f2; height: auto">
  <div class="headerBanner">
    <div class="inner-head">
      <h2>Estimador de Proyectos</h2>
      <img class="header__image" src="assets/images/log.png" width="initial" height="85px" style="float: left" />
    </div>
  </div>
  <section>
    
    <mat-expansion-panel class="card-shadows" style="
        margin: 2.5rem;
        padding: 1rem;
        background-color: white;
        margin-bottom: 1rem;
      " [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="row title-table-header" style="
          font-size: 30px;
          color: #004283;
          font-weight: bold;
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
          width: -webkit-fill-available;
        ">
            <div class="col-3">
              <span style="margin-right: 2rem; vertical-align: sub">GOBIERNO</span>
            </div>
            <div class="col"></div>
            <div class="col-1">
              <ng-container [ngTemplateOutlet]="helpDiv" [ngTemplateOutletContext]="{ helpType: 'gobierno' }">
              </ng-container>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="gobTableTemplate"></ng-container>
    </mat-expansion-panel>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col"></div>
        <div class="col-7">
          <mat-expansion-panel class="card-shadows" style="
    margin: 2.5rem;
    padding: 1rem;
    background-color: white;
    padding-top: 5px;
    margin-top: 0;
      " [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="row title-table-header" style="
                  font-size: 30px;
                  color: #2f5597;
                  font-weight: bold;
                  margin-bottom: 0.5rem;
                  margin-top: 0.5rem;
                  width: -webkit-fill-available;

                ">
                  <div class="col-1"></div>
                  <div class="col-8">
                    <span style="
                      margin-right: 1rem;
                      vertical-align: sub;
                      font-size: 27px;
                    ">Areas de Valor</span>
                    <ng-container [ngTemplateOutlet]="helpDiv" [ngTemplateOutletContext]="{ helpType: 'areas_valor' }">
                    </ng-container>
                  </div>
                  <div class="col"></div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngTemplateOutlet="gobMiniTableTemplate"></ng-container>
          </mat-expansion-panel>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </section>
  <section>
    <mat-expansion-panel class="card-shadows" style="
        margin: 2.5rem;
        padding: 1rem;
        background-color: white;
        margin-bottom: 1rem;
      " [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="row title-table-header" style="
          font-size: 30px;
          color: #004283;
          font-weight: bold;
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
          width: -webkit-fill-available;
        ">
            <div class="col-3">
              <span style="margin-right: 2rem; vertical-align: sub">INGESTA</span>
            </div>
            <div class="col"></div>
            <div class="col-1">
              <ng-container [ngTemplateOutlet]="helpDiv" [ngTemplateOutletContext]="{ helpType: 'ingesta' }">
              </ng-container>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="ingestaTableTemplate"></ng-container>
    </mat-expansion-panel>


  </section>
  <section>
    <mat-expansion-panel class="card-shadows" style="
        margin: 2.5rem;
        padding: 1rem;
        background-color: white;
        margin-bottom: 1rem;
      " [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="row title-table-header" style="
          font-size: 30px;
          color: #004283;
          font-weight: bold;
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
          width: -webkit-fill-available;
        ">
            <div class="col-3">
              <span style="margin-right: 2rem; vertical-align: sub">PROCESAMIENTO</span>
            </div>
            <div class="col"></div>
            <div class="col-1">
              <ng-container [ngTemplateOutlet]="helpDiv" [ngTemplateOutletContext]="{ helpType: 'procesamiento' }">
              </ng-container>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="processTableTemplate"></ng-container>
    </mat-expansion-panel>


  </section>
  <section>
    <div class="container-fluid" style="background-color: #004283">
      <div class="row" style="
          padding-top: 1rem;
          padding-bottom: 1rem;
          background-color: #2f5597;
          margin-top: 2rem;
        ">
        <div class="col"></div>
        <div class="col-4" style="
            text-align: center;
            border-color: white;
            border-bottom-width: thin;
            border-bottom-style: outset;
          ">
          <span class="title-table-header" style="color: white !important">Actividades Transversales</span>
        </div>
        <div class="col"></div>
      </div>
      <div class="row" style="margin-bottom: 2rem; background-color: #ddebf7">
        <div class="col" style="background-color: #eaf9fa;"></div>
        <div class="col-4" style="background-color: #eaf9fa;">
          <div class="row">
            <div style="margin-top: 40px; justify-content: center">
              <div style="flex: none">
                <div style="text-align: center !important">
                  <p style="color: #004283; font-size: 20px"> Las actividades transversales son horas adicionales a tener en cuenta  para la estimación de los proyectos </p>
                </div>
              </div>
            </div>
          </div>
          
        <div class="row">
          <div class="card-group card-shadows" style="padding: 0px !important">
            <div class="card">
              <div class="card-body-group" style="padding-left: 2.5rem;">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div >
                    <h2 style="text-align: center;"
                    class="
                        bold
                        text-dark
                        mb-1
                        w-100
                        text-truncate
                        font-weight-medium
                      "> <mat-icon class="legend-icons">pan_tool</mat-icon> </h2>
                    <h6 style="text-align: center;     white-space: pre-wrap;"
                    class="
                        text-muted
                        font-weight-normal
                        mb-0
                        w-100
                        text-truncate
                      "> Equipos de Apoyo </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body-group">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                    <h2 style="text-align: center;"
                    class="
                        bold
                        text-dark
                        mb-1
                        w-100
                        text-truncate
                        font-weight-medium
                      "> <mat-icon class="legend-icons">groups</mat-icon> </h2>
                    <h6 style="text-align: center;     white-space: pre-wrap;"
                    class="
                        text-muted
                        font-weight-normal
                        mb-0
                        w-100
                        text-truncate
                      "> Datio México  </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card-group card-shadows" style="padding: 0px !important">
            <div class="card border-right">
              <div class="card-body-group">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                    <h2 style="text-align: center;"
                    class="
                        bold
                        text-dark
                        mb-1
                        w-100
                        text-truncate
                        font-weight-medium
                      "> <mat-icon class="legend-icons">contacts</mat-icon> </h2>
                    <h6 style="text-align: center;     white-space: pre-wrap;"
                    class="
                        text-muted
                        font-weight-normal
                        mb-0
                        w-100
                        text-truncate
                      "> Infraestructura y Comunicaciones </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body-group">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                    <h2 style="text-align: center;"
                    class="
                        bold
                        text-dark
                        mb-1
                        w-100
                        text-truncate
                        font-weight-medium
                      "> <mat-icon class="legend-icons">contact_phone</mat-icon> </h2>
                    <h6 style="text-align: center; white-space: pre-wrap;"
                    class="
                        text-muted
                        font-weight-normal
                        mb-0
                        w-100
                        text-truncate
                      "> Arquitectura  </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        </div>

        <div class="col-1" style="background-color: #eaf9fa;"></div>


        <div class="col-5" style="background-color: #6fabe6;">
          <mat-accordion style="box-shadow: none">
            <ng-container *ngTemplateOutlet="constantsInfo"></ng-container>
          </mat-accordion>
        </div>
        <div class="col-1" style="background-color: #6fabe6;"></div>
      </div>
      <div class="row" style="margin-top: 2rem; padding-bottom: 2rem">
        <div class="col"></div>
        <div class="col-2" style="text-align: center">
          <button mat-raised-button class="resume-button" (click)="showResumeDialog()"> Estimación Final </button>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </section>
  <section style="padding: 0; min-height: 100px">
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col" style="text-align: right !important">
            <!--  <small class="year text-muted">v.0.5</small> -->
            <span>2021 - </span>
            <img width="60" src="/assets/images/datahublogo.png" />
          </div>
        </div>
      </div>
    </footer>
  </section>
</body>
<!----------------------------------------------------------------------------------------------------------->
<!-- Template First Table Section -->
<ng-template #gobTableTemplate>
  <div class="cal-table gob-table">
    <ngx-datatable #mydatatable class="material table-details" [headerHeight]="50" [columnMode]="'force'"
      [scrollbarH]="true" [rowClass]="getRowClassGob" rowHeight="50" [rows]="tables_values">
      <ngx-datatable-column name="Acciones" [width]="120" [minWidth]="120" [sortable]="false" [canAutoResize]="false"
        [resizeable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
          <div *ngIf="row.pos >= 0">
            <button mat-icon-button matTooltip="Agregar fila" class="action-icon" (click)="addRowGob(rowIndex)"
              style="color: #03a6ff">
              <mat-icon>add_circle</mat-icon>
            </button>
            <button *ngIf="tables_values.length > 2" mat-icon-button matTooltip="Eliminar fila" class="action-icon"
              style="color: #ff4949" (click)="removeRowGob(rowIndex)">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          <div *ngIf="row.pos < 0">
            <span class="title-fields" style="margin-left: 15px">Totales</span>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tablas" prop="tablas" [width]="120" [minWidth]="100" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.pos < 0" class="title-fields">{{ value }}</span>
          <input autofocus *ngIf="row.pos >= 0" style="width: 100%"
            (change)="updateValueGob($event, 'tablas', rowIndex)" type="number" [value]="value ? value : 0" min="0"
            oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Campos por Tabla" prop="campos" [width]="270" [minWidth]="200" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.pos < 0" class="title-fields">{{ value }}</span>
          <input autofocus *ngIf="row.pos >= 0" (change)="updateValueGob($event, 'campos', rowIndex)" type="number" style="width: 100%"
            [value]="value" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Alta" prop="A" [width]="80" [minWidth]="80" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.pos < 0" class="title-fields">{{ value }}</span>
          <input autofocus *ngIf="row.pos >= 0" (change)="updateValueGob($event, 'A', rowIndex)" type="number"
            [value]="value ? value : 0" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Media" prop="M" [width]="80" [minWidth]="80" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.pos < 0" class="title-fields">{{ value }}</span>
          <input autofocus *ngIf="row.pos >= 0" (change)="updateValueGob($event, 'M', rowIndex)" type="number"
            [value]="value ? value : 0" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Baja" prop="B" [width]="80" [minWidth]="80" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.pos < 0" class="title-fields">{{ value }}</span>
          <input autofocus *ngIf="row.pos >= 0" (change)="updateValueGob($event, 'B', rowIndex)" type="number"
            [value]="value ? value : 0" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Total Horas" prop="junior" [width]="155" [minWidth]="100" [sortable]="false"
        [canAutoResize]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span [ngClass]="{ 'title-fields': row.pos < 0 }">{{ value ? value : "0" }}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ng-template>
<!-- Template Mini Section -->
<ng-template #gobMiniTableTemplate>
  <div class="mini-table2">
    <ngx-datatable #mydatatable class="material" [headerHeight]="50" [columnMode]="'force'" [scrollbarH]="true"
      rowHeight="50" [rows]="mini_table_values" style="padding: 0; box-shadow: none">
      <ngx-datatable-column prop="campos" [width]="150" [minWidth]="100" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span class="title-fields">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="tablas" [width]="90" [minWidth]="90" [canAutoResize]="false" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span class="title-fields">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Duracion (Horas)" prop="senior" [width]="190" [minWidth]="100" [sortable]="false"
        [canAutoResize]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value }} </span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ng-template>
<!-- Template Second Table Section -->
<ng-template #ingestaTableTemplate>
  <div class="cal-table">
    <ngx-datatable #mydatatable class="material" [headerHeight]="60" [columnMode]="'force'" [scrollbarH]="true"
      [rowClass]="getRowClassIngesta" rowHeight="50" [rows]="ingesta_values" style="padding: 0; box-shadow: none">
      <ngx-datatable-column name="Actividad" prop="actividad" [width]="300" [minWidth]="200" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span class="title-fields">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tablas / Jobs" prop="tablas" [width]="160" [minWidth]="100" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.total" class="title-fields">{{ value }}</span>
          <input autofocus *ngIf="!row.total" (change)="updateValue($event, 'tablas', rowIndex)" type="number"
            style="width: 100%" [value]="value ? value : 0" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Alta" prop="A" [width]="80" [minWidth]="80" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.total" class="title-fields">{{ value }}</span>
          <input autofocus *ngIf="!row.total" (change)="updateValue($event, 'A', rowIndex)" type="number"
            [value]="value ? value : 0" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Media" prop="M" [width]="80" [minWidth]="80" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.total" class="title-fields">{{ value }}</span>
          <input autofocus *ngIf="!row.total" (change)="updateValue($event, 'M', rowIndex)" type="number"
            [value]="value ? value : 0" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Baja" prop="B" [width]="80" [minWidth]="80" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.total" class="title-fields">{{ value }}</span>
          <input autofocus *ngIf="!row.total" (change)="updateValue($event, 'B', rowIndex)" type="number"
            [value]="value ? value : 0" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tiempos" prop="senior" [width]="100" [minWidth]="100" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span [ngClass]="{ 'title-fields': row.total }">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Total Horas" prop="junior" [width]="150" [minWidth]="100" [sortable]="false"
        [resizeable]="false" [canAutoResize]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span [ngClass]="{ 'title-fields': row.total }">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ng-template>
<ng-template #processTableTemplate>
  <div class="cal-table tableProcesamientos">
    <ngx-datatable #mydatatable class="material" [headerHeight]="80" [columnMode]="'force'"
      [rowClass]="getRowClassProcess" [scrollbarH]="true" [rowHeight]="getRowHeight" [rows]="procesamiento_values"
      style="padding: 0; box-shadow: none">
      <ngx-datatable-column name="Actividades" prop="proceso" [width]="250" [minWidth]="200" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span class="title-fields">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Numero de Procesamientos" prop="tablas" [width]="170" [minWidth]="100"
        [canAutoResize]="false" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.total" class="title-fields text-aligned-center big-font">{{ value }}</span>
          <input autofocus *ngIf="row.edit" class="fullInput" (change)="updateValueProcess($event, 'tablas', rowIndex)"
            type="number" [value]="value" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Alta" prop="A" [width]="80" [minWidth]="80" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.total" class="title-fields text-aligned-center big-font">{{ value }}</span>
          <input autofocus *ngIf="row.edit" (change)="updateValueProcess($event, 'A', rowIndex)" type="number"
            [value]="value ? value : 0" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Media" prop="M" [width]="80" [minWidth]="80" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.total" class="title-fields text-aligned-center big-font">{{ value }}</span>
          <input autofocus *ngIf="row.edit" (change)="updateValueProcess($event, 'M', rowIndex)" type="number"
            [value]="value ? value : 0" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Baja" prop="B" [width]="80" [minWidth]="80" [canAutoResize]="false"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.total" class="title-fields text-aligned-center big-font">{{ value }}</span>
          <input autofocus *ngIf="row.edit" (change)="updateValueProcess($event, 'B', rowIndex)" type="number"
            [value]="value ? value : 0" min="0" oninput="this.value = Math.abs(this.value)" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tiempos" prop="tiempos" [width]="150" [minWidth]="100" [sortable]="false"
        [cellClass]="getCellClassProcess" class="text-aligned-center">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span class="title-fields text-aligned-center big-font">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ng-template>
<ng-template #constantsInfo>
  <div class="row row-margin constants-table" style="width: 100%; max-width: 500px">
    <ngx-datatable class="material" [headerHeight]="40" [columnMode]="'force'" [scrollbarH]="true" rowHeight="45"
      [rows]="constants_toshow" style="
        padding: 0;
        box-shadow: none;
        width: 100%;
        background-color: #6fabe6;
      ">
      <ngx-datatable-column name="Actividad" prop="actividad" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <mat-icon *ngIf="row.pan" class="const-icons">pan_tool</mat-icon>
          <mat-icon *ngIf="row.groups" class="const-icons">groups</mat-icon>
          <mat-icon *ngIf="row.contact" class="const-icons">contacts</mat-icon>
          <mat-icon *ngIf="row.phone" class="const-icons">contact_phone</mat-icon>
          <span class="title-fields">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Duración (Horas)" prop="horas" [width]="90" [minWidth]="60" [canAutoResize]="true"
        [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span class="title-fields text-aligned-center">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <div class="col-5"></div>
  </div>
  <!--
  
  border-top-style: outset;
  margin-left: 0px;
  margin-bottom: 15px;
   border-color: #004283;

  <mat-expansion-panel style="box-shadow: none" [disabled]="true" [expanded]="true">
    <mat-expansion-panel-header [collapsedHeight]="'35px'" [expandedHeight]="'35px'">
      <mat-panel-title style="font-weight: bold; color: #004283"> Actividades Transversales </mat-panel-title>
    </mat-expansion-panel-header>
      </mat-expansion-panel>

-->
  <div class="row row-margin">
    <div class="col-5"></div>
    <div class="col-5"></div>
  </div>
</ng-template>
<!--HELP DIV POPUP class="helpPopdiv mat-icon-button" <div>
    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
      #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = helpType">
      <mat-icon>help</mat-icon>
    </button>
  </div>-->
<ng-template #helpDiv let-helpType="helpType">
  <button mat-icon-button (click)="activeHelp = helpType" [mdePopoverTriggerFor]="popoverHelp"
    mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
    <mat-icon>help</mat-icon>
  </button>
</ng-template>
<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card class="small-mat-card help-card">
    <mat-card-content *ngIf="activeHelp === 'gobierno'"> Estas horas incluyen las tareas que realiza el area de gobierno de datos, como la propuesta de namings. 
      <br>Se deben contemplar dentro de la planificación del proyecto.</mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'areas_valor'"> Estas horas son transversales al gobierno técnico por lo
      tanto se deben tener en cuenta en la planificación de los proyectos. Son horas de consulta. </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'ingesta'"> Esta estimación corresponde a las líneas de trabajo para tener en cuenta en el proceso de ingesta de tablas en Datio.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'procesamiento'">Este ítem corresponde a la estimación correspondiente al desarrollo de Procesamientos dentro del proyecto, la estimación contempla todas las líneas de trabajo para tener en cuenta en el desarrollo, 
      así como el proceso de Data X en caso de aplicar.</mat-card-content>
  </mat-card>
</mde-popover>