@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

table {
  width: 100%;
}

datatable-scroller {
  width: 100% !important; //Permite que el row detail sea largo
  display: inherit !important;
}

::ng-deep .datatable-scroller {
  width: 100% !important; //Permite que el row detail sea largo
  display: inherit !important;
}

.title-table-header {
  color: white;
  font-weight: bold;
  font-size: 27px;
  font-family: Helvetica;
}

.title-table-subheader {
  color: #004283;
  font-weight: bold;
  font-size: 23px;
  font-family: Helvetica;
}

.ngx-datatable.fixed-header
  .datatable-header
  .datatable-header-inner
  .datatable-header-cell {
  background-color: #2f5597;
  color: #d4edfc;
  font-size: 20px;
  font-family: Ubuntu, Arial, Helvetica, Verdana, sans-serif;
  display: inherit !important;
  padding-top: 10px;
}

.mini-table
  .ngx-datatable.fixed-header
  .datatable-header
  .datatable-header-inner
  .datatable-header-cell {
  background-color: white;
  color: #004283;
  font-size: 20px;
  font-family: Ubuntu, Arial, Helvetica, Verdana, sans-serif;
  display: inherit !important;
  padding-top: 10px;
}

.ngx-datatable.material .datatable-header {
  background-color: #004283;
  display: inherit !important;
}

.constants-table
  .ngx-datatable.fixed-header
  .datatable-header
  .datatable-header-inner
  .datatable-header-cell {
  color: #004283 !important;
  background-color: #6fabe6 !important;
}

.divH2 {
  margin-left: 3%;
  color: #004283;
  width: 80%;
}

.ngx-datatable.material
  .datatable-body
  .datatable-body-row
  .datatable-body-cell {
  text-align: left;
  padding: 0.9rem 1.2rem;
  vertical-align: top;
  border-top: 0;
  color: black;
  transition: width 0.3s ease;
  font-size: 15px;
  font-weight: 400;
}

.tableProcesamientos .ngx-datatable.material input {
  margin-top: 0 !important;
}

.ngx-datatable.material
  .datatable-body
  .datatable-body-row
  .datatable-body-cell {
  border-bottom: 1px solid #dddddd;
}

.tableProcesamientos
  .ngx-datatable.material
  .datatable-body
  .datatable-body-row
  .datatable-body-cell {
  border-right: 1px solid #dddddd;
  border-bottom: none;
}

.constants-table
  .ngx-datatable.material
  .datatable-body
  .datatable-body-row
  .datatable-body-cell {
  border-bottom: 1px solid #2f5597;
}

.tableResume
  .ngx-datatable.material
  .datatable-body
  .datatable-body-row
  .datatable-body-cell {
  border-right: 1px solid #dddddd;
}

.ngx-datatable.material input {
  width: 120%;
  margin-top: -3px;
}

.title-fields {
  font-weight: bold;
  color: #004283;
}

.text-aligned-center {
  text-align: center !important;
}

.green-field {
  background-color: #88ca9a;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.total-fields {
  font-weight: bold;
  color: #004283;
  background-color: #d4edfc;
  margin-bottom: 10px;
}

.subtotal-fields {
  font-weight: bold;
  color: #004283;
  background-color: #eaf9fa;
}

.editable-fields {
  background-color: #ddebf7;
  input {
    background-color: #ddebf7;
    border: #d9d2e9;
  }
}

.editable-pink-field {
  font-weight: bold;
  color: #004283;
  background-color: #eaf9fa;

  .datatable-body-cell {
    padding-top: 20px;
  }
}

.disabled-fields {
  background-color: #bfbfbf;
}

.centered-field {
  text-align: right !important;
  padding-right: 10% !important;
}

.finalTotalRow {
  background-color: #ddebf7;
  margin-bottom: 10px;
}

.cal-table
  .ngx-datatable.fixed-header
  .datatable-header
  .datatable-header-inner
  .datatable-header-cell {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  text-align: center !important;
  vertical-align: middle !important;

  display: flex !important;
}

.ngx-datatable
  .datatable-header
  .datatable-header-cell
  .datatable-header-cell-template-wrap {
  align-self: center;
}

:host {
  --datatable-body-height: 100%;

  ::ng-deep {
    .datatable-body {
      height: var(--datatable-body-height) !important;
      overflow-y: auto;
    }
  }
}

.resume-button {
  border-width: 1px;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  background-color: #6fabe6;
  border-color: transparent;
  color: #fff;

  font-size: 1.25rem;
}

.resume-button:hover {
  background-color: #45a1de;
}

.mat-expansion-panel-header {
  //background-color: #ddebf7;
}

.mat-expansion-panel-body {
  padding: 0 !important; 
  margin-top: 20px;
}

.mat-card {
  border-radius: 15px !important;
}

.mat-expansion-panel {
  border-radius: 15px !important;
}

.intercell-grey {
  background-color: #ebe8e8;
  input {
    background-color: #ebe8e8;
    border-style: solid;
  }
}

.help-card {
  color: white;
  background-color: #043263;
  border-radius: 5px !important;
  font-family: "bentonsans-bold-regular", "Lato", "Arial", sans-serif;
  box-shadow: 8px 8px 4px -1px #0003, 0 1px 1px 0 #00000024,
    0 1px 3px 0 #0000001f !important;
}

